@import-normalize; /* bring in normalize.css styles */

/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
ol,
ul,
li,
fieldset,
form,
label,
article,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a,
button {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --accent-color-dark: #2b207d;
  --accent-color-light: #7da2ff;
  --primaru-text-color: #122236;
  --secondary-bg-color: #f3f6f9;
  --transaction-head: #00bcd5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #000;
}

h1 {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #000;
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

input {
  margin-top: 4px;
}
